
<!-- <script src="//gitcdn.xyz/repo/tmijs/cdn/master/latest/1.x/tmi.min.js"></script> -->
<div class="chat-body">
    Chat to {{ channelString }}!

    <div class="cool-form">
      <form [formGroup]="twitchForm" (ngSubmit)="speakMessage()">
        <input type="text" class="form-control" formControlName="message" placeholder='Message'>
        <button type="submit" class="btn btn-primary">Chat</button>
      </form>
    </div>

    <div class="cool-form">
      <form [formGroup]="channelForm" (ngSubmit)="joinChannel()">
        <input type="text" class="form-control" formControlName="name" placeholder="Channel">
        <button type="submit" class="btn btn-primary">Join</button>
      </form>
    </div>

    <div class="chat-logs">
      <span *ngFor="let chatMessage of chats">
        <h1>{{ chatMessage.channel }}</h1>
        <div class="chat-log">
            <p *ngFor="let message of chatMessage.messages" class="chat">
              <span class="username" [ngStyle]="{'color': getDisplaynameColor(message.user)}">{{ message.user }}:</span>
              <span class="message">{{ message.message }}</span>
            </p>
        </div>
      </span>
    </div>
</div>