@import '~bootstrap/dist/css/bootstrap.min.css'

body
  background-color: black
  color: white

.site-header-1
  color: blue

.chat-body
  display: block
  margin: 0 auto
  text-align: center

.chat-log
  display: block
  margin: 1em auto
  width: 30%
  border: 2px dotted white
  font-family: 'Tahoma, Geneva, sans-serif'
  min-height: 1em

.chat-log .chat
  margin: 5px 10px
  padding: 0
  text-align: left
  line-height: 1em

.chat-log .username
  font-weight: bold
  margin-right: 10px

.chat-log .message
  color: white